.grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
    grid-gap: 0rem;
    padding: $page-margin;
    background-color: transparent;


    &--tile {
        position: relative;
        padding: 2rem;
        background-color: transparent;
        cursor: pointer;

        &__image-wrapper {
            width: 100%;
            height: 100%;
            position: relative;
            background-color: #222;
            
            box-shadow: .75rem .75rem 0 rgba($primary-color, .2);
            transition: all .6s ease-in-out; 

            img {
                height: 100%;
                float: left;
                height: 400px;
                opacity: 1;
                object-position: center;
                object-fit: cover;
                opacity: .5;
                transition: all .6s ease-in-out;

            }

            &::after {
                content: '';
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                background: repeating-linear-gradient(
                    -45deg,
                    rgb(#f2f2f2, 1),
                    rgba(#f2f2f2, 1) 3px,
                    rgba(#ccc, 1) 3px,
                    rgba(#ccc, 1) 6px
                );
                bottom: -1.4rem;
                right: -1.4rem;
                z-index: -99;

            }
            
        }
    
        &__overlay {
            position: absolute;
            display: inline-block;
            bottom: 6rem;
            left: 0rem;
            right: 4rem;
            margin-bottom: 0rem;
            padding: 2.5rem 5rem 2.5rem 3rem;
            z-index: 10;
            border-left: 4rem solid rgba(#0044ff, 0.9);
            color: #f2f2f2;
            transition: all .3s ease-in-out;


            // &::before {
            //     content: '';
            //     position: absolute;
            //     width: 0;
            //     height: 0;
            //     border-style: solid;
            //     border-width:  0 0 2rem 2rem;
            //     border-color:  transparent transparent rgba(12, 47, 251, .1) transparent;
            //     top: 0rem;
            //     left: -1rem;

            // }

            // &::after {
            //     content: '';
            //     position: absolute;
            //     width: 0;
            //     height: 0;
            //     border-style: solid;
            //     border-width:  2rem 2rem 0 0 ;
            //     border-color:  rgba($primary-color, .3) transparent transparent transparent;
            //     top: 0rem;
            //     left: 1rem;
            // }

          
        }
    
        &__title {
            margin: 0 0 .8rem 0;
            font-weight: 700;
            position: relative;
            font-size: 2rem;
            line-height: 1.2;
            font-family: $base-font;

        }
    
        &__desc {
            margin: 0;
            font-size: 1.1rem;
            color: #eee;
            font-weight: 400;
        }

        &__icon {
            position: absolute;
            top: 2rem;
            right: 2rem;
            width: 2rem;
            height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .3s ease-in-out;
            color: #f2f2f2;
            z-index: 1;
            &:hover {
                background-color: rgba(243, 202, 207, 0.8);
            }
        }

        &:hover {

            .grid--tile__overlay {
                opacity: 0;
                transform: translateX(-2rem);
                transition: all .3s ease-in-out;
            }

            .grid--tile__image {
                opacity: 1;
                transition: all .6s ease-in-out;
            }

            .grid--tile__image-wrapper {
                box-shadow: .75rem .75rem 0 rgba(12, 47, 251, 0.5);
                transition: all .6s ease-in-out; 
            }
        }
    }




    .size-1 {
        grid-column: span 1;
    }

    .size-2 {
        grid-column: span 2;
    }

    .size-3 {
        grid-column: span 3;
    }

    .size-4 {
        grid-column: span 4;
    }
    .size-5 {
        grid-column: span 5;
    }
    .size-6 {
        grid-column: span 6;
    }

    .order-1 {
        order: 1;
    }

    .order-2 {
        order: 2;
    }

    .order-3 {
        order: 3;
    }

    .order-4 {
        order: 4;
    }

    .order-5 {
        order: 5;
    }

    .order-6 {
        order: 6;
    }

    .order-7 {
        order: 7;
    }

    .order-8 {
        order: 8;
    }

    .order-9 {
        order: 9;
    }

    .order-10 {
        order: 10;
    }

    .order-11 {
        order: 11;
    }

    .order-12 {
        order: 12;
    }
}



