.grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
    grid-gap: 0rem;
    padding-left: $page-margin;
    padding-right: $page-margin;
    margin-bottom: $page-margin;

    &--tile {
        position: relative;
        background-color: #333;
        border: 2rem solid #111;
        outline: 1px solid #222;
    
        &__image {
            object-fit: cover;
            width: 100%;
            height: 400px;
            float: left;
            opacity: .25;
            mix-blend-mode: multiply;
        }
    
        &__overlay {
            position: absolute;
            bottom: 0;
            left: -2rem;
            width: 75%;
            color: #fff;
            margin-bottom: 3rem;
            border-left: 3rem solid rgba(230, 69, 69, .75);          
            padding: 1rem 1.8rem;
        }
    
        &__title {
            margin: 0 0 1rem;
            padding-bottom: 1rem;
            padding-right: 3rem;
            font-weight: 700;
            display: inline-block;
            position: relative;
            border-bottom: 1px solid #555;
        }
    
        &__desc {
            margin: 0;
            font-size: $xsmall-font-size;
        }
    }




    .size-1 {
        grid-column: span 1;
    }

    .size-2 {
        grid-column: span 2;
    }

    .size-3 {
        grid-column: span 3;
    }

    .size-4 {
        grid-column: span 4;
    }
    .size-5 {
        grid-column: span 5;
    }
    .size-6 {
        grid-column: span 6;
    }

    .order-1 {
        order: 1;
    }

    .order-2 {
        order: 2;
    }

    .order-3 {
        order: 3;
    }

    .order-4 {
        order: 4;
    }

    .order-5 {
        order: 5;
    }

    .order-6 {
        order: 6;
    }

    .order-7 {
        order: 7;
    }

    .order-8 {
        order: 8;
    }

    .order-9 {
        order: 9;
    }

    .order-10 {
        order: 10;
    }

    .order-11 {
        order: 11;
    }

    .order-12 {
        order: 12;
    }
}



