
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    height: calc(60vh - 101px);
    padding-top: 6rem;
    padding-bottom: 3rem;

    &__content {
        max-width: 1080px;
        margin: 0 auto;
    }

    &__title {
        line-height: 1.25;
    }
}