
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    height: calc(100vh - 100px);
    padding-top: 0rem;
    padding-bottom: 0rem;

    &__content {
        max-width: 1080px;
        margin: 0 auto;
    }

    &__subtitle {
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.5;
    }
}