@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url("https://use.typekit.net/nyz7ptq.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


$page-margin: 4rem;
$block-margin: 3rem;

// Colors

$primary-color: rgba(251, 32, 59, .75);
$secondary-color: #222;

$body-bg: #f2f2f2;

// Fonts

$base-font: 'Roboto', sans-serif;
$headings-font: 'neue-haas-grotesk-display', sans-serif;
$code-font: 'IBM Plex Mono', monospace;

$base-font-weight: 400;
$heading-font-weight: 900;

// Font Sizes

$base-font-size: 2rem;                        
$small-font-size: 1.4rem;
$xsmall-font-size: 1.2rem;                    

$f1: 7rem;
$f2: 5.6rem;
$f3: 4.3rem;
$f4: 3.2rem;
$f5: 2.4rem;
$f6: 1.8rem;


// Grid

