@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


$page-margin: 4rem;
$block-margin: 3rem;

// Colors

$primary-color: #FF3131;
$secondary-color: #222;

// Fonts

$base-font: 'Lato', sans-serif;
$headings-font: $base-font;

$base-font-weight: 400;
$heading-font-weight: 900;

// Font Sizes

$base-font-size: 1.8rem;                        
$small-font-size: 1.4rem;
$xsmall-font-size: 1.2rem;                    

$f1: 7.5rem;
$f2: 5.6rem;
$f3: 4.3rem;
$f4: 3.2rem;
$f5: 2.4rem;
$f6: 1.8rem;


// Grid

